.container-fluid {
    background-color: #642c8f;
    display: flex;
}

body {
    margin: 0;
    font-weight: 400;
    line-height: 3;
    text-align: left;
}

ul {
    list-style-type: none;
}
.nav-link_active{
    color: #ffff;
    font-size: 20px;
    text-decoration:none;  
}
